@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

header {
    display: flex;   
    height: 100px;
    align-items: center;
    color: #fff;
    background-color: #122a57;
}

header .list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 260px;
    align-items: center;
}

header .menu {
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: center;
    background-color: #122a57;
    height: 70px;
    color: #fff;
}

footer .footer {
    justify-content: space-between;
}

footer .footer a {
    color: white;
    text-decoration: none;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

.apresentacao {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.container-externo {
    background-color: #122a57;
    width: 100%;
    
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-planos {
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.apresentacao .texto-apresentacao {
    min-height: 200px;
}

.texto-apresentacao h1 {
    color: #122a57;
    font-size: 48px;
    margin: 10px;
}

.list-items li a {
    color: #fff;
}

.item-planos .btn {
    margin: auto;
    margin-bottom: 20px;
}

.item-planos h3 {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.item-planos h3::after {
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin: 20px 0 10px 0;
}

.item-planos ul {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.item-planos ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.item-planos ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;
}

.btn{
    display: block;
    background-color: #122a57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin: 10px 0 10px 0;
}

.list-servicos .item-servico {
    text-align: center;
}

.item-servico p {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.item-servico a {
    text-align: center;
    background-color: #fff;
    color: #122a57;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    line-height: 58px;
    width: 220px;
    height: 50px;
    margin-top: 20px;
    padding: 5px 18px;
    border-radius: 30px;
}

.item-servico img {
    width: 80%;
    margin: auto;
}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2 {
    display: flex;
    font-size: 32px;
    color: #122a57;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos p {
    margin-bottom: 20px;
    width: 90%;
}

#quem-somos img {
    width: 420px;
}

#servicos {
    flex-direction: column;
    padding: 58px 0px 100px 0px;
}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 50px;
}

#planos {
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

#planos h2 {
    font-size: 32px;    
}

/* media query */

@media(max-width: 992px) {

    .flex-container {
        flex-direction: column;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

    .apresentacao .texto-apresentacao {
        width: 100%;
    }

    .list-servicos {
        flex-direction: column;
    }

    .item-servico img{
        width: 50%;
        margin: auto;
    }

    .list-planos {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-planos{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    
    #quem-somos {
        flex-direction: column-reverse;
    }

    #quem-somos img {
        min-width: 320px;
        margin: auto;
    }

}
